body
{
	margin: 0px;
	font-family: Consolas, Tahoma;
	font-size: 10pt;
	text-align: left;
}
div
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	visibility: hidden;
	float: left;
}

#div_form
{
	visibility: visible;
}

input
{
	font-family: Consolas, Tahoma;
	font-size: 10pt;
	width: 100%;
}
div.progress
{
	visibility: hidden;
	padding-top: 8px;
	color: Green;
	font-weight: bold;
}
form
{
	margin: 0px;
}
