<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script>
     function insertValues(documentBody) {
      document.getElementById("documentBody").value = documentBody;
      document.forms[0].submit();
     }
    </script>
    
</head>
<body>
    <form>
  <textarea id="documentBody" name="documentBody"></textarea>
  <input type="submit" />
    </form>
</body>
</html>