<html>
<head>
    <title></title>
    <script>
        function insertValues(docId, name, comment)
        {
            document.getElementById("name").value = name;
            document.getElementById("comment").value = comment;
			document.getElementById("in_doc").value = docId;
            document.forms[0].submit();
        }
    </script>
</head>
<body>
    <form action="/documents/AddComment">
    <div>
        <input id="name" name="name" />
        <input id="comment" name="comment" />
		<input id="in_doc" name="in_doc" />
		<input type="submit" />
    </div>
    </form>
</body>
</html>