<html>
<head>
    <title></title>
    <script>
        function insertValues(name, comment)
        {
            document.getElementById("name").value = name;
            document.getElementById("comment").value = comment;
            document.forms[0].submit();
        }
    </script>
</head>
<body>
  <% form_tag(:action => "AddComment")

<!--
    <form>
    <div>
        <input id="name" name="name" />
        <input id="comment" name="comment" />
        <%= submit_tag "submit" %>
    </div>
    </form>-->
</body>
</html>