<div id="top-ribbon">
  <div id="login">
    <%= render :partial => "login" %>
  </div>
</div>
<div id="messages">
    <%= render :partial => "messages" %>
</div>

<style type="text/css">
  #top-ribbon { border-bottom:blue 1px solid; margin-left:auto; margin-right:auto; padding-bottom:5px; padding-top:5px; width:80%; }
  #login { text-align:right }
  #messages { width:80%; margin-left:auto; margin-right:auto }
</style>