<html>
<head>
    <title></title>
    <script>
        function insertValues(docId, password)
        {
            document.getElementById("password").value = password;
			document.getElementById("in_doc").value = docId;
            document.forms[0].submit();
        }
    </script>
</head>
<body>
    <form action="/documents/SetPassword">
    <div>
        <input id="password" name="password" />
		<input id="in_doc" name="in_doc" />
		<input type="submit" />
    </div>
    </form>
</body>
</html>