<% content_for(:head) do -%>
  <%= javascript_include_tag "Upload" %>
  <%= stylesheet_link_tag "Upload" %>
<% end -%>

<body>
<div id="div_form">
  <% form_tag({:action => "UploadFile", :in_doc => params[:in_doc]}, {:multipart => true}) do %> 
    <%= file_field "upload", "datafile" %>
    <input id="description" name="description" type="hidden" />
  <% end %>
</div>
<div id="div_progress" class="progress">
		</div>
</body>
