<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script>
     function insertValues(documentId, documentBody) {
	  document.getElementById("in_doc").value = documentId;
      document.getElementById("documentBody").value = documentBody;
      document.forms[0].submit();
     }
    </script>
    
</head>
<body>
    <form action="/documents/UpdateBody">
	<input id="in_doc" name="in_doc" />
  <textarea id="documentBody" name="documentBody"></textarea>
  <input type="submit" />
    </form>
</body>
</html>