<% content_for(:head) do -%>
  <%= javascript_include_tag "Print" %>
<% end -%>

<body>
	<img src="/images/scribbles-logo.jpg" style="width: 82px; height: 30px; float: right" />
	<h1 id="title"></h1>
	<div id="body"></div>
</body>
