<% if @comments %>
  <% @comments.each do |com| %>
  <div class="comment">
    <p class="comment_header">
      <span class="comment_name"><%= com.author %></span> said on <span class="comment_time"><%= com.created_at.to_time.strftime("%b %d, %Y %I:%M %p") %></span></p>
    <p><%= com.comment %></p>
  </div>
  <% end %>
<% end %>
